/**
 * Updated Black theme for reveal.js with SPy logo.
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; 
  background-image: url("../img/pycon_sk.svg");
  background-size: 150px 150px;
  background-position: left bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}

.right {
  float: right;
  margin-right: 50px;
}

.small {
  font-size: large;
}

.large {
  font-size: 1.6em;
}

