<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Začíname s Djangom</title>

    <meta name="description" content="Úvod do programovania s Django Frameworkom.">
    <meta name="author" content="Richard Kellner">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="reveal.js/css/reveal.css">
    <link rel="stylesheet" href="reveal.js/css/theme/black.css" id="theme">
    <link rel="stylesheet" href="css/black-erigones.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">
      <div class="slides">

        <section data-transition="zoom">
          <h1>Začíname s Djangom</h1>
          <h3>Úvod do programovania s Django Frameworkom.</h3>
          <p>
            <small><a href="https://twitter.com/RicCo386" target="_blank">@RicCo386</a> / <a href="https://www.erigones.com" target="_blank">Erigones.com</a> / <a href="https://github.com/ricco386" target="_blank">Github</a></small>
          </p>
          <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
          </a></p>
        </section> <!-- slide 1 -->

        <section>
          <section data-transition="convex">
            <h2>Inštalácia</h2>
            <p>Oficialna inštalačná príručka: <a href="https://docs.djangoproject.com/en/1.7/topics/install/">https://docs.djangoproject.com/en/1.7/topics/install/</a></p>
          </section>
          <section ddata-transition="convex">
            <h2>Python 3.4</h2>
            <p>Vytvoríme a aktivujeme adresár envs3 pre lokálne závislosti</p>
            <p>
            python3 -m venv envs3<br/><small>(alternativne: pyvenv envs3)</small><br/>
            source envs3/bin/activate<br/>
            pip install django
            </p>
            <aside class="notes">
venv oficialny python modul, ktorý umožnuje vytvárať izolované virtuálne prostredie, čo umožnuje inštalovať balíky rôznych verzií nezávisle na balíkoch nainštalovaných v OS.
            </aside>
          </section>
          <section data-transition="convex">
            <h2>Python 2.7</h2>
            <p>Vytvoríme a aktivujeme adresár envs pre lokálne závislosti</p>
            <p>
            virtualenv envs<br/>
            source envs/bin/activate<br/>
            pip install django
            </p>
            <p>
              <small>Pokiaľ nemáte pip alebo virtualenv nainštalované, balíky <strong>python-pip, python-virtualenv</strong> sa nachádzajú v štandardných repozitároch Fedora, Ubuntu.</small>
            </p>
            <aside class="notes">
virtualenv predchodca venv, ktorý je využívaný hlavne v pythone 2.x
            </aside>
          </section> <!-- slide 2 -->
        </section>

        <section>
          <h2>Prvá Django app</h2>
          <p>django-admin.py startproject konferencia</p>
          <p>python manage.py migrate</p>
          <p>python manage.py runserver</p>
          <p>python manage.py startapp mailinglist</p>
          <p>vim konferencia/settings.py<br /><small>Pridať novo vytvorenú aplikáciu medzi INSTALLED_APPS</small></p>
          <aside class="notes">
Projekt verzus Aplikácia: App je webová aplikácia čo niečo robí (mailinglist, blog, anketa), zatiaľ čo projekt je súbor konfigurácií a aplikácií pre webstránku. Projekt môže obsahovat niekoľko aplikácií, aplikácia môže byť vo viacerých projektoch.
          </aside>
        </section> <!-- slide 3 -->
 
        <section>
          <section data-transition="convex">
            <h2>Modely</h2>
            <p>vim mailinglist/models.py</p>
            <pre><code>from django.db import models

class Subscriber(models.Model):
    email = models.EmailField(max_length=255)
    subscribed_date = models.DateTimeField('Date subscribed', auto_now_add=True, blank=True)

    def __str__(self):  # __unicode__ on Python 2
        return self.email

class MailingList(models.Model):
    name = models.CharField(max_length=50)
    subscriber = models.ManyToManyField(Subscriber)

    def __str__(self):  # __unicode__ on Python 2
        return self.name</code></pre>
          <aside class="notes">
Django využíva DRY (Don’t repeat yourself) princíp.
          </aside>
          </section>
          <section data-transition="convex">
            <h2>Migrácie</h2>
            <p>python manage.py makemigrations mailinglist<br /><small>RAW SQL: python manage.py sqlmigrate mailinglist 0001</small></p>
            <p>python manage.py migrate</p>
            <aside class="notes">
Migrácia je zoznam zmien v modeloch. Po spusteni migrácie django vykoná všetky zmeny, ktoré sa udiali v modeloch a aplikuje ich na schému databázy.
            </aside>
          </section>
        </section> <!-- slide 4 -->

        <section>
          <section data-transition="convex">
            <h2>Tvorba Admina</h2>
            <p>python manage.py createsuperuser</p>
            <p>vim mailinglist/admin.py<br />
            <pre><code>from django.contrib import admin
from mailinglist.models import Subscriber, MailingList

admin.site.register(Subscriber)
admin.site.register(MailingList)</code></pre>
            </p>
            <aside class="notes">
Django pôvodne vzniklo v novinárskom prostredí, s veľmi jasným rozdielom medzi tvorcami obsahu a verejnou stránkou. Stránky na pridávanie, editovanie a mazanie obsahu databázy nepotrebujú veľa kreativity, preto túto časť Django generuje automaticky.            
            </aside>
          </section>
          <section data-transition="convex">
            <h2>Modifikácia Admina</h2>
            <p>vim mailinglist/admin.py<br />
            <pre><code>from mailinglist.models import Subscriber, MailingList

class SubscriberAdmin(admin.ModelAdmin):
    list_display = ('email', 'subscribed_date')

admin.site.register(Subscriber, SubscriberAdmin)
admin.site.register(MailingList)</code></pre>
            </p>
            <aside class="notes">
            Updatnuť model __str__ metodou: automatická reprezentácia modelu v Djangu
            <pre><code>
def __str__(self):  # __unicode__ on Python 2
    return self.email
            </code></pre>
            </aside>
          </section>
        </section> <!-- slide 5 -->

        <section>
          <section data-transition="convex">
            <h2>Prvé view</h2>
            <p>vim mailinglist/views.py<br />
            <pre><code># -*- coding: utf-8 -*-
from django.http import HttpResponse

def index(request):
    return HttpResponse(u'Ahoj Svet.\
                        Práve ste v mailinglistovom indexe.')</code></pre>
            </p>
            <aside class="notes">
V Djangu je webstránka ale aj iný obsah doručený cez view. Každé view je reprezentované Pythonovou funkciou. Django vyberie view na základe URL, ktorá bola vyžiadaná.
            </aside>
          </section>
          <section data-transition="convex">
            <p>vim mailinglist/urls.py<br />
            <pre><code>from django.conf.urls import patterns, url
from mailinglist import views

urlpatterns = patterns('',
    url(r'^$', views.index, name='index'),
)</code></pre>
            <aside class="notes">
Aby sa Django mohlo dostať z URL do view, používa takzvané URLconf mapy, čo je v podstate zoznam regulárnych výrazov s views.
            </aside>
            </p>
          </section>
          <section data-transition="convex">
            <p>vim konferencia/urls.py</p>
            <pre><code>from django.conf.urls import patterns, include, url
from django.contrib import admin

urlpatterns = patterns('',
    url(r'^ml/', include('mailinglist.urls')),
    url(r'^admin/', include(admin.site.urls)),
)</code></pre>
            <aside class="notes">
Ďalší krok je previazanie aplikačných URLconf s URLconf v projekte. Teraz máme previazanú aplikáciu s projektom a môžeme si pozrieť index view mailinglistu.
            </aside>
          </section>
        </section> <!-- slide 6 -->

        <section>
          <section data-transition="convex">
            <h2>View čo aj niečo robia</h2>
            <p>vim mailinglist/views.py<br />
            <pre><code># -*- coding: utf-8 -*-
from django.http import HttpResponse, Http404
from django.shortcuts import render
from mailinglist.models import MailingList

def mlist(request, list_id):
    try:
        ml = MailingList.objects.get(pk=list_id)
    except MailingList.DoesNotExist:
        raise Http404(u'Mailinglist neexistuje!!!')
    return render(request, 'mailinglist/mlist.html', {'ml': ml})

def subscribe(request, list_id):
    return HttpResponse(u'Práve sa zapisujete do mailinglistu: %s'
                        % list_id)</code></pre>
            </p>
            <aside class="notes">
Každé view je zodpovedné za vykonanie jednej z dvoch veci: vrátenie HttpResponse alebo hlásenie výnimky (exception)
            </aside>
          </section>
          <section data-transition="convex">
            <p>vim mailinglist/urls.py<br />
            <pre><code>from django.conf.urls import patterns, url
from mailinglist import views

urlpatterns = patterns('',
    url(r'^$', views.index, name='index'),
    url(r'^(?P<list_id>\d+)/$', views.mlist, name='mlist'),
    url(r'^(?P<list_id>\d+)/subscribe/$', views.subscribe,
                                            name='subscribe'),
)</code></pre>
            </p>
          </section>
          <section data-transition="convex">
            <h2>Prvý template</h2>
            <p>mkdir -p mailinglist/templates/mailinglist</p>
            <p>vim mailinglist/templates/mailinglist/mlist.html<br />
            <pre><code><h1>{{ ml.name }}</h1>
<ul>
{% for scb in ml.subscriber.all %}
  <li>{{ scb.email }} ({{ scb.subscribed_date }})</li>
{% endfor %}
</ul></code></pre>
            </p>
            <aside class="notes">
Template slúži na oddelenie Pythonovej logiky od dizajnu a logiky, ktorá vytvára vzhľad stránky.
            </aside>
          </section>

        </section> <!-- slide 7 -->

        <section>
          <section data-transition="convex">
            <h2>Prihlasovací Formulár</h2>
            <p>vim mailinglist/forms.py<br />
            <pre><code># -*- coding: utf-8 -*-
from django.forms import ModelForm
from mailinglist.models import Subscriber

class SubscribeForm(ModelForm):
    class Meta:
        model = Subscriber
        fields = ('email',)</code></pre>
            </p>
            <aside class="notes">
Django formuláre ušetria veľa času a snahy, pretože DRY princíp umožnuje automaticky generovať formular z modelu už s prednastavenou validáciou, či priame ukladanie, alebo mazanie databázového objektu.
            </aside>
          </section>
          <section data-transition="convex">
            <p>vim mailinglist/views.py</p>
            <pre><code>from django.shortcuts import render, get_object_or_404, redirect
from mailinglist.forms import SubscribeForm
from mailinglist.models import MailingList

def subscribe(request, list_id):
    ml = get_object_or_404(MailingList, pk=list_id)
    if request.method == "POST":
        form = SubscribeForm(request.POST)
        if form.is_valid():
            subscriber = form.save()
            ml.subscriber.add(subscriber)
            return redirect('mlist', list_id=list_id)
    else:
        form = SubscribeForm
    return render(request, 'mailinglist/subscribe.html',
                  {'ml': ml, 'form': form})</code></pre>
            <aside class="notes">
Prečo používame pomocné funkcie ako get_object_or_404 namiesto toho aby sme pri odchitení výnimky ObjectDoesNotExist raisovali Http404? Pretože to by porušilo oddelenie model vrstvy od view vrstvy. Jedena z hlavných úloh Djanga je nemiešať vrstvy dokopy, avšak pomocné funkcie v django.shortcuts zjednodušujú prácu, pričom majú určitú kontrolovanú mieru miešania vrstiev.
            </aside>
            </section>
          <section data-transition="convex">
            <p>vim mailinglist/templates/mailinglist/subscribe.html<br />
            <pre><code><h1>{{ ml.name }}</h1>
<form method="post" action="">
  {% csrf_token %}
  <table> {{ form }} </table>
  <input type="submit" value="Prihlasiť do mailinglistu"/>
</form></code></pre>
            </p>
            <aside class="notes">
Django templaty používajú bodkovú notáciu na prístup k atribútom premennej.
            </aside>
          </section>
        </section> <!-- slide 8 -->

        <section data-transition="slide" data-background="#4d7e65" data-background-transition="zoom">
          <h2>Ďakujem za pozornosť</h2>
          <small>
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a><br />
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Začíname s Djangom</span> vytvoril <a xmlns:cc="http://creativecommons.org/ns#" href="https://ricco386.github.io/zaciname-s-djangom/" property="cc:attributionName" rel="cc:attributionURL">Richard Kellner</a> prezentácia je licencovaná pod <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />
            Práca zverejnená na <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/ricco386/zaciname-s-djangom" rel="dct:source">https://github.com/ricco386/zaciname-s-djangom</a>.
          </small>
        </section>

      </div>
    </div>

    <script src="reveal.js/lib/js/head.min.js"></script>
    <script src="reveal.js/js/reveal.js"></script>

    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'reveal.js/plugin/zoom-js/zoom.js', async: true },
          { src: 'reveal.js/plugin/notes/notes.js', async: true }
        ]
      });
    </script>

  </body>
</html>

